{
    "printWidth": 100,
    "tabWidth": 4,
    "bracketSpacing": true,
    "semi": true,
    "singleQuote": true,
    "trailingComma": "all",
    "plugins": ["@shufo/prettier-plugin-blade"],
    "overrides": [
        {
            "files": ["*.blade.php"],
            "options": {
                "parser": "blade"
            }
        }
    ]
}